div.right div.gadget {
	margin-top: 40px;
	padding-top: 30px;
	border-top: 1px dashed #bbb;
}
div.right div.gadget:first-of-type { margin-top: 0; padding-top: 0; border-top: hidden; }

div.menu {
	width: 100%;
	display: flex;
	flex-direction: column;
}

div.menu > div.gadget {
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px dashed #BFBFBF;
}
div.menu > div.gadget:first-of-type { padding-top: 0;  }
div.menu > div.gadget:last-of-type { border-bottom: 0; }

div.profile div.picture img {
	width: 100%;
	box-shadow: #BFBFBF 0 0 20px;
	border-radius: 15px;
}

div.profile div.name {
	text-align: center;
	padding: 15px 0;
}

div.profile div.name span {
	font-size: 18px;
	font-weight: bold;
}

div.socials ul.socials { list-style-type: none; }
div.socials ul.socials a { text-decoration: none; color: #000000;}
div.socials ul.socials a:hover { text-decoration: underline;}
div.socials ul.socials li {
	padding: 2px 0;
	font-size: 16px;
}

div.socials ul.socials li i {
	margin-right: 20px;
}

div.right > div.gadget { margin-bottom: 30px; }

div.header img { border-radius: 10px; }

div.activities div.holder {
	display: flex;
	justify-content: space-between;
}

div.activities div.holder a { width: 48%; text-decoration: none; color: black; }
div.activities div.holder a:hover { text-decoration: underline; }
div.activities div.holder div.activity span { font-weight: bold; }

div#cv {
	padding-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

div#cv div.year {
	width: 100%;
	display: flex;
	padding: 10px 0;
}

div#cv div.year div.marker {
	padding: 0 20px 0 0;
	font-size: 32px;
}

div#cv div.year div.text { padding: 7px 0; }
div#cv div.year div.text ul { list-style-type: none; }

div.inspiring {
	padding-top: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

div.inspiring div {
	width: 30%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

div.inspiring div img {
	border-radius: 100%;
	margin-bottom: 10px;
}

div.inspiring div span { font-weight: bold; }
div.inspiring div p { color: rgba(0, 0, 0, 0.5); }


@media screen and (max-width: 624px) {
	div.symbols img {
		width: 100%;
		height: auto;
		margin-bottom: 32px;
	}
	
	div.profile div.picture img { width: 100%; }
}
