div.menu {
	width: 100%;
	display: flex;
	flex-direction: column;
}

div.menu > div.gadget {
	width: 100%;
	padding-bottom: 30px;
}

div.profile div.picture img {
	width: 100%;
	box-shadow: #BFBFBF 0 0 20px;
	border-radius: 15px;
}

div.profile div.name {
	text-align: center;
	padding: 15px 0;
}

div.profile div.name span {
	font-size: 32px;
	font-weight: bold;
}

div.right > div.gadget { margin-bottom: 30px; }

div.symbols {
	display: flex;
	flex-flow: row wrap;
}

div.symbols img {
	width: auto;
	height: 64px;
	margin-right: 32px;
}

@media screen and (max-width: 624px) {
	div.symbols img {
		width: 100%;
		height: auto;
		margin-bottom: 32px;
	}
	
	div.profile div.picture img { width: 100%; }
}